<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>HTML5 snake - Canvas Snake Game</title>

<link rel="stylesheet" type="text/css" href="css/normalize.css">
<link rel="stylesheet" type="text/css" href="css/page.css">
<link rel="stylesheet" href="css/alertify.css" />
<link rel="stylesheet" href="css/alertify.default.css" />
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="snake/game.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/alertify.min.js"></script>

</head>
<body>
	<header>
		<h1>html5-snake</h1>
	</header>

	<div class="wrapper clearfix">

		<div id="game">
			<canvas id="the-game" width="640" height="480">
		</div>
		
		<div id="panel">
			<div class="scores">
				<h1>
						Your score!
				</h1>

				<p>...</p>
				<p>...</p>
				<p>...</p>
			</div>

			<div class="instructions">
				<p>Control snake with your smartphone!</p>

				<p>New food may appear under snake, uncoil to reveal.</p>

				<p>Collect the food to grow and increase speed.</p>
			</div>

			<div class="code">
				<a href="http://localhost:8080/user"><img src="https://chart.googleapis.com/chart?chs=150x150&amp;cht=qr&amp;chl=http://localhost:8080/user &amp;choe=UTF-8" alt=""/></a>
			</div>
		</div>

	</div>

	<footer>
		<p>&copy; 2013 - <a href="http://JDStraughan.com">JDStraughan.com</a> - <a href="https://github.com/JDStraughan/html5-snake">Source on GitHub</a>
		</p>
	</footer>
	
</body>
</html>