<!DOCTYPE html>
<html>
<head>
	<title>Joystick Test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="prototype.js"></script>
	<script type="text/javascript" src="widget.js"></script>
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="joystick.css">
</head>
<body>
	<div class="centered" id="widget">
	</div>
</body>
</html>