<!DOCTYPE html>
<html>
<head>
	<title>Joystick Test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="prototype.js"></script>
	<script type="text/javascript" src="widget.js"></script>
	<script type="text/javascript" src="swipeable.js"></script>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/joystick.css">
</head>
<body>
	<div id="widget_bar">
		<ul id="my_widgets"></ul>
	</div>
	<div class="centered" id="widget">
	</div>
</body>

<script type="text/javascript">
		
		new Widget.start('http://172.30.3.84:8080');
		new Widget.Joystick('#widget',"dsfsddfs");
		new Widget.inputText('#widget',"dsfsddfs");
		new Widget.Swipe('#widget', "dsfsddfs");
		new Widget.ready();
	</script>
</html>