<!DOCTYPE html>
<html>
<head>
	<title>Widget Test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="js/prototype.js"></script>
	<script type="text/javascript" src="js/widget.js"></script>
	<script type="text/javascript" src="js/swipeable.js"></script>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/joystick.css">
</head>
<body>
	<div id="widget_bar">
	</div>
	<div class="centered" id="widget">
	</div>
</body>

<script type="text/javascript">
		
		new Widget.start('http://localhost:8080', {widgetbar: false});
		new Widget.drawBar('widget_bar');
		joystick = new Widget.Joystick('#widget',"dsfsddfs");
		joystick.addWidget('#my_widgets');
		input = new Widget.inputText('#widget',"dsfsddfs");
		input.addWidget('#my_widgets');
		swipe = new Widget.Swipe('#widget', "dsfsddfs");
		swipe.addWidget('#my_widgets');
		input.draw('#widget');
		new Widget.ready();
	</script>
</html>