<html>

<body>
<script>
var data = <%-JSON.stringify(apps) %>;

var apps = Object.keys(data);
    		
	for (var i = 0; i < apps.length; i++ ) {
    	var a = document.createElement('a');
		var linkText = document.createTextNode(data[apps[i]].applicationId);
		a.appendChild(linkText);
		//a.title = apps[i].widgetUrl;
		a.href = data[apps[i]].widgetUrl;
		document.body.appendChild(a);
		
		var br = document.createElement('br');
		document.body.appendChild(br);

	}
    			
console.log(data.name);
</script>

</body>
</html>