*, 
*:after, 
*:before { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}

html, 
body {
	height: 100%;

} 


body {
  text-align: center;
}
 
/* The ghost, nudged to maintain perfect centering */
body:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
}

#toTop, #toDown{
	text-align: center;
}

#up_key, #left_key, #down_key, #right_key{
	width: 75px;
	height: 75px;
}